
.calendar {
    width: 80vh;
    margin: auto;
}



.months {
    width: 70vh;
    background-color: lightgray;
    border: 2px solid black;
    margin: auto;
    display: flex;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    justify-content: center;
}

.dates  {
   display: flex;
   border: 2px solid black;
   border-top: 0.1px solid black;
   width: 70vh;
   margin: auto;
   height: 10vh;
}

.date {
    border: 0.5px solid black;
    width: 10vh;
    display: flex; /* Changed from -moz-popup to flex */
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    text-align: center;
}


body {
    display: auto;
    justify-content: center; /* Center the calendar section on the page */ /* Center the calendar section vertically */
    height: 100vh;
    margin: 0;
}